body {
    background: rgb(29, 27, 27);
}

.about-sec {
    color: rgb(109, 154, 213);
    text-align: center;
}

.about-sec p {
    padding: 20px;
    color: whitesmoke;
}

.bio-boxes {
    display: flex;
    justify-content: center;
}

.about-bio {
    box-align:start;
    margin-left: 30px;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    height: 400px;
    width: 400px;
}

.about-bio img {
    border: 1px dotted whitesmoke;
    width: 400px;
}

.about-bio h3 {
    font-family: Roboto, Arial, sans-serif;
    color: whitesmoke;
    font-size: 16px;
    line-height: 22px;
}

.about-bio p {
    font-family: Roboto, Arial, sans-serif;
    color: rgb(109, 154, 213);
    font-weight: 400;
    font-size: 14px;
    Line-height: 18px;
    padding-top: 0;
}

.about-bio .bio-icon {
    float: left;
    margin-right: 0;
    border-radius: 100%;
    width: 40px;
}


.desc h1 {
    color: yellow;
}

.youtube-logo {
    width: 150px;
}
