


.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.invert {
    filter: invert(1) hue-rotate(180deg);
}

.App {
    background: rgb(29, 27, 27);
}

.forms {
    display: flex;
    justify-content: center;
}

.forms input {
    width: 200px;
}
